body {
    background-color:
}
.inline-block {
    display: inline-block;
    vertical-align: top;

  margin-right: 40px;
}
.logo {
    text-align: center;
    width: 23%;
    padding: 1%;
    background-color: #373738;
}
nav {
    width: 73%;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    display: grid;
    grid-template-columns: 50% 50%;   
    margin: 100px;
    height: 300px;
    padding: 60px;
    padding-top: 50px;
}
.content {
    width: 500px;
    margin: 0 auto;
}

.heroImg img {
    height: 400px;
}

.work {
    margin-top: 200px;
}
.workGrid {
    display: grid;
}

.flexContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 200px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: black;
}
.skills h1 {
    margin-left: 55px;
    margin-top: 100px;
}
.flexContainer h3 {
    padding-left: 55px;
    color: white;
}
.flexContainer p {
    padding-left: 55px;
    color: white;
}
.flexContainer img {
    height: 200px;
}

footer {
    background-color: #373738;
    padding: 30px;
}
footer ul {
    color: white;
}






